ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellowgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
  }
  
  li {
    color: #355E3B;
    float: right;
    padding: 0;
    font-family: 'Akshar';
    font-size: 1.4rem;
  }
  
  li a {
    display: block;
    color:#355E3B;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    color: white;
    text-decoration: none;
  }